h1{
    color :navy;
}
#heading2{
    color : orange
}
.heading{
    color:maroon
}
.para{
    border : 2px;
    border-color:blueviolet;
    border-style: solid;
}
.navbar {
    border : 3px;
    border-color : green;
    border-style:solid;
    padding : 15px;
    text-align:center;
    background-color:blueviolet;
}
.navbar a{
    color:aqua;
    padding : 15px;
    text-decoration: none;
}
.navbar a:hover{
    background-color :hotpink;

    
}
body{
    margin:0px;
}